<div>
  <div>
    <h4>
      <i class="fas fa-heart"></i>
      Liker 讚賞 (拍手)
    </h4>
    <p>如果這一篇筆記文章對你有幫助，希望可以求點<del>牡蠣</del>
      <ins>鼓勵</ins>
      (ノД`)・゜・。</p>
  </div>
  <div style='height: 212px; width: 100%;'>
    <script type="text/javascript">
      document.write(
      "<iframe scrolling='no' frameborder='0' sandbox='allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sand" +
        "box allow-storage-access-by-user-activation' style='height: 212px; width: 100%;' src='https://button.like.co/in/embed/q23362352/button?referrer=" + encodeURIComponent(location
        .href
        .split("?")[0]
        .split("#")[0]) + "'></iframe>");
    </script>
  </div>
  <small>Liker 是一個按讚(拍手)的讚賞機制，每一篇文章最多可以按五下拍手，過程你只需要登入，如果你願意按個讚，對於創作者來講是一個莫大的鼓勵與支持。</small>
</div>

{% if theme.google_adsense.google_ad_client_id %}
<script data-ad-client="ca-pub-3370466793895826" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endif %}
